@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.section {
  width: 100%;
  height: auto;
  padding-top: 5em;
  padding-bottom: 5em;
}

.header {
  position: absolute;
  width: 99%;
  align-items: center;
  margin-top: 2em;
}

.portfolio-content{
  width: 66%;
  margin: 0 auto;
  font-family: Spartan;
}

.title-and-menu ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: small;
  margin-top: 2em;
}

.title-and-menu ul li a{
  text-decoration: none;
  color: gray;
}

.title-and-menu ul li a:hover{
  text-decoration: none;
  color: rgb(32, 32, 245);
  border-bottom: rgb(32, 32, 245) 1px solid;
  width: 200px;
}

.title-and-menu ul li{
  padding-bottom: 2em;
}

.product-promotion {
  margin: 0 auto;
  width: 68%;
  display: flex;
  padding: 20px;
  vertical-align: middle;
  flex-direction: row;
  font-family: Spartan;
}

#button-line-text{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#button-line-text div {
  border-top: 3px gray solid;
  height: 5px;
  width: 33px;
}

#button-line-text span {
  font-size: small;
  color: gray;
}

#button-line-text button{
  border: none;
  padding: 10px 10px;
  border-radius: 50%;
  background-color: rgb(47, 47, 253);
}

#button-line-text button:hover{
  background-color: rgb(23, 23, 214);
}

#button-line-text button i {
  font-size: 3em;
  color: white;
}

.product-promotion div{
  margin-left: 10px;
  margin-right: 10px;
}

.product-promotion div p {
  font-size: small;
  color: gray;
}

.product-promotion div img{
  height: auto;
  width: 100%;
}

.product-promotion:last-child{
 align-items: center;
}


.our-services {
  margin: 50px auto;
  align-items: center;
  text-align: center;
  width: 33%;
  font-family: Spartan;
}

.cards-section {
  margin: 0px auto;
  width: 69%;
  display: grid;
  text-align: center;
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  grid-template-columns: 320px 320px 320px;
  grid-template-rows: 400px 400px;
  font-family: Spartan;
}

.inside-card{
  margin-top: 17%;
  color: white;
}

#card-button{
  margin: 15px auto;
  color: white;
  padding: 0.8em 2.4em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  font-weight: bold;
  display: flex;
  border: none;
  text-align: center;
  align-items: center;
  background-color: transparent;
  border: white 2px solid;
}

#card-button:hover{
  background-color: white;
  color: rgb(20, 2, 2);
}

.inside-card p {
  margin: auto;
  width: 66%;
  font-size: 12px;
}

.card {
  justify-self: center;
  height: 400px;
  transition: all .2s ease-in-out;
}

.card:hover{
  transform: scale(1.1);
}

.card-1 {
  background-image: linear-gradient(rgb(231, 184, 56),rgb(155, 121, 11));
}

.card-2 {
  background-image: linear-gradient(rgb(84, 185, 243),rgb(35, 109, 151));

}

.card-3 {
  background-image: linear-gradient(rgb(152, 56, 231),rgb(86, 25, 136));

}

.card-3 .inside-card {
  position: relative;
  bottom: 10px;
}

.card-5 .inside-card{
  position: relative;
  top: 4%;
}

.card-4 {
  background-image: linear-gradient(rgb(47, 101, 201),rgb(32, 73, 151));

  
}

.card-5 {
  background-image: linear-gradient(rgb(196, 95, 243),rgb(149, 70, 185));

}



.card-6 {
  background-image: linear-gradient(rgb(231, 83, 115),rgb(112, 48, 62));

}

.card-6 .inside-card{
  position: relative;
  bottom: 1%;
}

.our-services h5 {
  color: #48017b;
}

.header h3 {
  float: left;
  margin-left: 20%;
  font-family: Spartan;
}

#navButton {
  padding: 0.8em 2.4em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  font-weight: bold;
  display: flex;
  border: none;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  background-color: #ff006d;
  font-family: Spartan;
  margin-top: -10px;
}

#navButton:hover {
  color: white;
  background-color: rgb(233, 1, 102);
}

.navBar {
  margin-right: 13%;
}

.navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.navBar ul li {
  float: right;
}

.navBar ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-family: Spartan;
  font-size: 12px;
}

.navBar ul li a:hover {
  color: #ff006d;
}

#shape {
  position: absolute;
  height: 550px;
  width: 900px;
  top: -150px;
  right: 0;
  z-index: -1;
}

#hireButton {
  padding: 0.8em 2.4em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  font-weight: bold;
  display: flex;
  border: none;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  background-color: #00ffdb;
  font-family: Spartan;
}

#hireButton:hover {
  background-color: #05c9af;
  color: white;
}

.section-1-content {
  padding-top: 15%;
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
}

h1 {
  font-size: 50px;
  font-family: Spartan;
  color: #48017b;
}

.section-1-content div img {
  float: right;
  height: 250px;
  width: 400px;
  max-width: 100%;
  min-width: 100%;
  height: auto;
}
