
body{
  margin: 0 auto;
  padding: 0;
  position: relative;
  font-family: Lato;
  overflow-x: hidden;
}

html{
  overflow-x: hidden;
}


.section {
  width: 100%;
  height: auto;
  padding-top: 5em;
  padding-bottom: 5em;
}



.header {
  position: absolute;
  width: 99%;
  align-items: center;
  margin-top: 2em;
}




.section-6{
  background-color:#0c0f32;
}

.reviews-middle{
  margin-top: 4em;
}

.faces{
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.review-comments{
  width: 100%;
  text-align: center;
  color: white;
  margin-bottom: 5em;
}

.review-footer{
  width: 66%;
  margin: 0 auto;
  text-align: center;
  border-top: 1px #3f415d solid;
  color: white;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

#waveButton{
  border-radius: 30%;
  padding: 1em;
  border: none;
  color: white;
  background-color: #3d37f1;
}


.review-footer-left{
  text-align: left;
}

.review-footer-left h6{
  color: #3f415d;
  margin-bottom: -1em;  
}



.review-comments h3{
  color: #6853f3;
  margin-bottom: -1em;
}

.review-comments h5{
  font-style: italic;
}

.faces img{
  margin: 2em;
}


.faces img:not(#midPicture){
  height: 50px;
  width: 50px;
}

#midPicture{
  height: 150px;
  width: 150px;
}


#review{
  background-color: orange;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  margin: 0 auto;
  padding: 0.2em;
  color: white;
  position: relative;
  bottom: 4em;
}

.review-title{
  position: relative;
  color: white;
  text-align: center;
}

.review-title h5{
  color: rgba(194, 191, 191, 0.719);
}

.succes-container{
  width: 100%;
  display: flex;
}

.success-title{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3em;
}

.success-title h5{
  color: gray;
}

.number-boxes-container{
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.number-box{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
  padding: 4em;
  height: 5em;
  width: 5em;
  box-shadow: 0px 30px 30px rgb(161, 161, 161);
  border-radius: 5%;
}

.inside-box{
  align-items: center;
  justify-content: center;
  height: 6em;
  width: 6em;
  border-radius: 20%;
  position: relative;
}

.box-1{
  background-image: linear-gradient(#ad92fd,#6853f3);
}

.box-2{
  background-image: linear-gradient(#ff93a5,#ff64a3);
}

.box-3{
  background-image: linear-gradient(#fbc7a1,#ff894b);
}

.inside-box h2{
  margin: 0 auto;
  margin-top: 1.4em;
  margin-bottom: 2.1em;
  color: white;
}

.inside-box h5{
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  font-size: 0.7em;
  margin-left: -0.5em;

}



.portfolio-content{
  display: flex;
  width: 66%;
  margin: 0 auto;
}

input[name="r"]{
  position: absolute;
  visibility: hidden;
}

.slide-show-buttons{
  width: 31%;
  margin: 0 auto;
  margin-top: 7%;
  display: flex;
}

.slide-show-button{
  margin-left: 1em;
  margin-right: 1em;
  width: 5px;
  background-color: rgb(139, 139, 201);
  border-radius: 50%;
  height: 5px;
  transition: width 0.2s;
  cursor: pointer;
}

.slide-show-button:hover{
  width: 50px;
  border-radius: 20%;
  background-color: rgb(32, 32, 245);
  transform: scale(1.1);
}

.portfolio-right-side {
  display: flex;
  flex-wrap: wrap;

}

.portfolio-grid{
  display: grid;
  column-gap: 30px;
  row-gap: 20px;
  grid-template-columns: 270px 270px;
  grid-template-rows: 200px 200px 200px;
  width: 100%;
}

.portfolio-grid img{
  width: 100%;
  height: auto;
  box-shadow: gray 10px 10px 40px;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.portfolio-grid img:hover{
  transform: scale(1.05);
}

.title-and-menu {
  width: 33%;
}

.title-and-menu p{
  font-size: small;
  margin-top: -10px;
  margin-bottom: 10px;
}

.title-and-menu ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: small;
  margin-top: 2em;
}

.title-and-menu ul li a{
  text-decoration: none;
  color: gray;
}


.title-and-menu ul li a:hover{
  text-decoration: none;
  color: rgb(32, 32, 245);
  border-bottom: rgb(32, 32, 245) 1px solid;
}

.title-and-menu ul li{
  padding-bottom: 2em;
  width: 100%;
}

.product-promotion {
  margin: 0 auto;
  width: 68%;
  display: flex;
  padding: 20px;
  vertical-align: middle;
  flex-direction: row;
}

#button-line-text{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#button-line-text div {
  border-top: 3px gray solid;
  height: 5px;
  width: 33px;
}

#button-line-text span {
  font-size: small;
  color: gray;
}

#button-line-text button{
  border: none;
  padding: 10px 10px;
  border-radius: 50%;
  background-color: rgb(47, 47, 253);
  cursor: pointer;
}

#button-line-text button:hover{
  background-color: rgb(23, 23, 214);
}

#button-line-text button i {
  font-size: 3em;
  color: white;
}

.product-promotion div{
  margin-left: 10px;
  margin-right: 10px;
}

.product-promotion div p {
  font-size: small;
  color: gray;
}

.product-promotion div img{
  height: auto;
  width: 100%;
}

.product-promotion:last-child{
 align-items: center;
}


.our-services {
  margin: 50px auto;
  align-items: center;
  text-align: center;
  width: 33%;
}

.cards-section {
  margin: 0px auto;
  width: 69%;
  display: grid;
  text-align: center;
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  grid-template-columns: 320px 320px 320px;
  grid-template-rows: 400px 400px;
}

.inside-card{
  margin-top: 17%;
  color: white;
}

.card-button{
  margin: 15px auto;
  color: white;
  padding: 0.8em 2.4em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  font-weight: bold;
  display: flex;
  border: none;
  text-align: center;
  align-items: center;
  background-color: transparent;
  border: white 2px solid;
  cursor: pointer;
}

.card-button:hover{
  background-color: white;
  color: rgb(20, 2, 2);
}

.inside-card p {
  margin: auto;
  width: 66%;
  font-size: 12px;
}

.card {
  justify-self: center;
  height: 400px;
  transition: all .2s ease-in-out;
}

.card:hover{
  transform: scale(1.1);
}

.card-1 {
  background-image: linear-gradient(rgb(231, 184, 56),rgb(155, 121, 11));
}

.card-2 {
  background-image: linear-gradient(rgb(84, 185, 243),rgb(35, 109, 151));

}

.card-3 {
  background-image: linear-gradient(rgb(152, 56, 231),rgb(86, 25, 136));

}

.card-3 .inside-card {
  position: relative;
  bottom: 10px;
}

.card-5 .inside-card{
  position: relative;
  top: 4%;
}

.card-4 {
  background-image: linear-gradient(rgb(47, 101, 201),rgb(32, 73, 151));

  
}

.card-5 {
  background-image: linear-gradient(rgb(196, 95, 243),rgb(149, 70, 185));

}



.card-6 {
  background-image: linear-gradient(rgb(231, 83, 115),rgb(112, 48, 62));

}

.card-6 .inside-card{
  position: relative;
  bottom: 1%;
}

.our-services h5 {
  color: #48017b;
}

.header h3 {
  float: left;
  margin-left: 20%;
}

#navButton {
  padding: 0.8em 2.4em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  font-weight: bold;
  border: none;
  text-align: center;
  align-items: center;
  background-color: #ff006d;
  margin: 0 auto;
  cursor: pointer;
}

#navButton:hover {
  color: white;
  background-color: rgb(233, 1, 102);
}

.navBar {
  margin-right: 13%;
}

#navMenuIcon{
  display: none;
}

.navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.navBar ul li {
  float: right;
}

.navBar ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}



.navBar ul li a:hover {
  color: #ff006d;
}

@media screen and (max-width: 600px) {
  .navBar ul li:not(:last-child) {display: none;}
  #navMenuIcon {
    float: right;
    display: block;
  }

  .section-1-content div h1{
    font-size: large;
  }
}

@media screen and (max-width: 600px){
  .navBar.responsive {position: relative;}

  #navButton{
    padding: 0.3em 0.3em;
  }

  .navBar.responsive ul li a img{
    position: absolute;
    right: -1em;
    top: 0;
  }


  .navBar.responsive ul{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
    align-items: center;
    justify-content: center;
  }

  .navBar.responsive ul li{
    float: none;
    display: block;
    text-align: left;
    margin-top: -0.5em;
    margin-bottom: -0.5em;
  }

  .section-1-content div img{
    margin-top: 3em;
  }

  #shape{
    margin-right: -10em;
  }

  .cards-section{
    justify-content: center;
    grid-template-columns: 320px;
    grid-template-rows: 400px 400px 400px;
  }

  .portfolio-content{
    width: 100%;
  }

  .portfolio-grid{
    justify-content: center;
    gap: 5px;
    grid-template-columns: 135px;
    grid-template-rows: 100px 100px 100px;
  }

  .portfolio-grid img:nth-last-child(-n+3){
    display: none;
  }


  .title-and-menu{
    text-align: center;
    width: 50%;
  }

  .slide-show-buttons label{
    margin: 0 auto;
  }

  .slide-show-button:hover{
    width: 10px;
  }

  .review-title{
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .review-comments{
    margin: 0 auto;
    width: 70%;
  }

}




#shape {
  position: absolute;
  height: 550px;
  width: 900px;
  top: -150px;
  right: 0;
  z-index: -1;
}

#hireButton {
  padding: 0.8em 2.4em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  font-weight: bold;
  display: flex;
  border: none;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  background-color: #00ffdb;
  cursor: pointer;
}

#hireButton:hover {
  background-color: #05c9af;
  color: white;
}

.section-1-content {
  padding-top: 15%;
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
}

h1 {
  font-size: 50px;
  color: #48017b;
}

.section-1-content div img {
  float: right;
  height: 250px;
  width: 400px;
  max-width: 100%;
  min-width: 100%;
  height: auto;
}
